@{
    ViewBag.Title = "About";
}
<h2><strong>What is <i>Galaxy at War:Clone Wars</i></strong></h2>

<div class="jumbotron">
    <img src="http://i446.photobucket.com/albums/qq182/sivirys/DemoProject/RaR_zpswr9mlnem.png" width="1024" height="513"/>

</div>
    <div>
        <strong>Galaxy At War - Clone Wars</strong> (GaW) is a total conversion mod for the <i>Star Wars: Empire at War: Forces of Corruption</i> real-time strategy, developed by the Art Create Mods, a team of enthusiasts and huge SW fans.<br />
        <br />
        The mod aims to complete replace of the original factions and huge improvement in visual and gameplay aspects.<br />
        <br />
        We have planned <strong>Galaxy at War:</strong><br />
        <br />
        - to take you to the battlefields of the galactic scaled conflict between <i>Episode II Attack of the Clones</i> and <i>Episode III Revenge of the Sith</i> - the <strong><i>Clone Wars</i></strong><br />
        - to add new playable factions - the <i>Galactic Republic, the Confederacy of Independent Systems</i> and a <i>Crime syndicate Faction</i> (we have not yet chosen a name)<br />
        - to add a great number of detailed units, with improved models, textures and abilities<br />
        - to have a carefully balanced sides for best game experience and pleasure<br />
        <br />
        Our sources are all cannon SW information resources like <i>Episode II and III</i> and <i>Star Wars The Clone Wars</i>, but we will be happy to add any other unit, planet, etc. that we like or is requested, so <strong><i>tell us what do you want to see in the mod</strong></i> and we'll do our very best to make it real. We are open to ideas, so please share all your thoughts with us.<br />
        <br />
        As we are not professional modders and game developers, we spare for the mod as much time as possible, however we also have real live things to do, we don't know when the mod will be released, so please do not ask us. We are working as fast as we can.<br />
        <br />
        <br />
    </div>

<address class="GaWBkg">
      More info you can find on our <strong>ModDB page:</strong><br />
    <a href="http://www.moddb.com/mods/galaxy-at-war-clone-wars"><i>Galaxy at War: Clone Wars</i> </a> <br />
</address>