@{
    ViewBag.Title = "How to contact us";
}
<h2><strong>@ViewBag.Title</strong></h2>

<p class="GaWFontSize">  
       Any time on any topic related to the mod, EAW FOC modding or general Star Wars, just ask and we will be happy to help if we can.<br />
    Our contacts can be found below. We are trying to answer as soon as possible, but don't forget to read first the <a href="http://gawcwforumv2.azurewebsites.net/Articles/Details/1"><i>FAQ</i></a>
    
</p>

<br /><br /><br /><br /><br /><br />

<fieldset>
    <legend>Team leaders contacts:</legend>
</fieldset>

<address>
    <strong>suerteto</strong> <br />
    Moddb personal message (Moddb members only): <a href="http://www.moddb.com/messages/compose?to=suerteto">PM</a><br />
    Personal email: <a href="mailto:suerteto@yahoo.co.uk">suerteto@yahoo.co.uk</a><br /><br />
    <strong>fr0st47</strong> <br />
    Moddb personal message (Moddb members only): <a href="http://www.moddb.com/messages/compose?to=fr0st47">PM</a><br />
</address>